.login_background_gif{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    filter:brightness(0.5);
    z-index: -100;
}

.containerPrincipal {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219);
    width: 65%;
    height: 75%;
}


.form-group { 
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 }

.containerSecundario {
    margin: 0;
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem;
 }

 .containerSecundario * {
     margin-bottom: 10px;
 }

 .containerSecundario button {
     margin-top: 20px;
 }
