.contenedorPrincipal{
    display: grid;
    grid-template-columns: 80% 20%;
}

.box_comentario{
    display: grid;
    grid-template-columns: 10% 80%;
}
.fotoComentario{
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.fotoUsuario{
    border-radius: 100px;
    width: 30px;
    height: 30px;
}

.box_usuario{
    display: grid;
    grid-template-columns: 20% 80%;
}

#bordeInput{
    border: 1px solid #e6e6e6;
}

#titleComentario{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
}