.left-menu_container * {
    margin: 2.5rem 1rem;
    padding: 0;
}
.left-menu_container {
    margin-top: 4rem;
    height: 100%;
    width: 8rem;
    border-right: 10px;
    border-right-color: black;
}

.left-menu_container__list {
    list-style-type: none;
}
.left-menu_container__list * {
    text-decoration: none;
    color: rgb(97, 97, 97);
}