::placeholder {
    color: purple !important;
}

.tag_lugares{
    color: purple;
    border-bottom: 1px solid purple;
    width: 85px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-weight: bolder;

}

#root{
    overflow-x: hidden;
}

.buscador{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.boton_busqueda{
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
}